p {
  //color: red;
  text-indent: 50px;
}

p.zero {
  //color: red;
  text-indent: 0;
}

p.ls {
	text-align: right;
    letter-spacing: 5px;
   }

.readbox {
  width: 50%;
  max-height: 90vh;
  //text-align:center;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  //background-image: linear-gradient(45deg, #fff, #ddd 20%, #ccc);
  background:#E8E8E8;
  margin: 0 auto;
  overflow-y: scroll;
}

.titul {
  width: 50%;
  //max-height: 90vh;
  //text-align:center;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  //background-image: linear-gradient(45deg, #fff, #ddd 20%, #ccc);
  background:#E8E8E8;
  margin: 0 auto;
  //overflow-y: scroll;
}

.formula_p1 {
  display: inline-block;
  width: 90%;
  padding: 1%;
  align:center;
}

.formula_p2 {
  display: inline-block;
  width: 5%;
  padding: 1%;
  align:right;
}

